@import url(./style.css);

body {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.2px;    
}

/* HEADER */

header {
    font-size: 16px;
    font-weight: 500;
}

.logo-top {
    width: 144.77px;
    height: 22.56px;
    flex: 0 0 auto;
}

.right-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.desktop-nav {
    display: none
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 28px;
    padding-right: 20px;
    padding-bottom: 28px;
    padding-left: 20px;
    gap: 24px;
}

/* HERO SECTION */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 400px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8)), url(../images/Hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.2px;
    text-align: center;
    padding-top: 64px;
    padding-right: 20px;
    padding-bottom: 64px;
    padding-left: 20px;
    gap: 24px;
}

.hero-txt {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    color: #FFFFFF;

}

.hero-txt h1 + p {
    color:#FFFFFF
}

.find-videos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #3ECF4C;
    color: #FFFFFF;
    font-weight: 400;
    text-decoration: none;
    width: 280px;
    height: 40px;
    border-radius: 10px;
}

/* CATEGORIES */

.top-videos-section {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.top-videos-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    color: #222325;
}

.tabs-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to right, black 95%, transparent 100%);
  mask-image: linear-gradient(to right, black 95%, transparent 100%);
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 6px;
  padding: 15px 0;
  scrollbar-width: none; 
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.tab {
  background: none;
  border: none;
  color: #333333AD;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 36px;
  padding-left: 0;
  position: relative;
}

.tab.active {
  color: #F64920; 
}

.tab.active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 40%;
  height: 6px;
  background-color: #F64920;
  border-radius: 10px;
}

/* COURSE GRID */

.course-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 320px;
    gap: 20px;
}

.course-card {
    display: flex;
    flex-direction: column;
    width: 320px;
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    padding: 16px;
    gap: 8px;
}

.course-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
}


.thumbnail {
    width: 82px;
    height: 82px;
    flex-shrink: 0;
}

.course-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.course-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #222325;
}

.course-description {
    display: none;
}

.course-author {
    display: flex;
    align-items: center;
    width: 194px;
    height: 37px;
    gap: 8px;
}

.author-avatar {
    width: 36px;
}

.author-details strong {
    color: #222325
}

.author-details p {
    font-size: 12px;
}

.author-workplace {
    display: none
}

.course-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 288px;
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
}

.stars {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90px;
    height: 18px;
}

.score {
    font-weight: 500;
    font-size: 12px;
    text-decoration: underline;
}

.price {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #3ECF4C;
}

/* NEWSLETTER */

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 400px;
    padding: 48px 20px 48px 20px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8)), url(../images/Newsletter.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 12px 45px -10px #003BDE33;
}

.newsletter-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px
}

.newsletter-txt p {
    font-weight: 500;
    font-size: 16px;
    color: #C1C2C4;
    text-align: center;
}

.newsletter-txt h2 {
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-align: center;
}

.newsletter-txt:nth-child(3) {
    font-weight: 400;
    font-size: 14px;
    color: #F4F5FA;
    text-align: center;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 40px;
}

.newsletter-input {
    width: 280px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px 8px 10px 12px;
    background-color: #FFFFFF;
    color: #333333AD;
    text-align: center;
}

.newsletter-submit {
    width: 280px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px 8px 10px 12px;
    background-color: #FFBD3A;
    font-weight: 700;
    color: #FFFFFF;
}

/*FOOTER ADDRESS*/

footer {
    border-top: 1px solid #3A35411F;
    padding: 20px;
    gap: 16px;
}

.footer-address {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-address img {
    width: 161.61px;
    height: 25.18px;
    flex: 0 0 auto;
}

.address-phone {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.address-phone p:first-child {
    font-weight: 700;
    color: #222325
}

.address-phone address {
    font-weight: 400;
    font-size: 12px;
    color: #222325
}

.address-phone p:last-child {
    font-weight: 400;
    font-size: 14px;
    color: #222325
}

/*FOOTER LINKS*/

.footer-links {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 12px;
}

.footer-links-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-links-header h3{
    font-weight: 700;
    font-size: 16px;
    color: #222325;
}

.chevron {
    width: 7.4;
    height: 12px;
    flex: 0 0 auto;
}

.footer-links ul {
    display: none;
}

/*FOOTER COPYRIGHT & SOCIAL*/

.divider {
    width: 100%;
    height: 1px;
    margin-top: 16px;
    margin-bottom: 16px;
    background: #3A35411F;
    font-size: 0;
    border: 0;

}

.footer-copyright {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 12px;
}

.footer-copyright p {
    font-weight: 500;
    font-size: 16px;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.socials img {
    width: 35px;
    height: 35px;
    flex: 0 0 auto
}

@media (min-width: 1024px) {
    body {
        font-size: 16px;
    }

    /* HEADER */

    .logo-top {
        all:unset
    }

    .hamburger {
        display: none;
    }

    .desktop-nav {
        display: flex;
        align-items: center;
        gap: 36px;
    }

    .desktop-nav a {
        text-decoration: none;
        text-align: center;
    }

   /* MAIN */

   main {
        padding: 64px 120px 64px 120px;
        gap: 64px;
   }

   /* HERO SECTION */

    .hero {
        width: 1200px;
        height: 400px;
        font-size: 16px;
        padding: 82px 140px 82px 140px;
    
    }

    h1 {
        font-size: 48px;
    }

    .find-videos {
        width: 372px;
        height: 42px;
        font-weight: 700px;
        padding-bottom: 4px;

    }

    /* CATEGORIES */

    .top-videos-section {
        width: 1200px;
    }

    h2 {
        font-size: 32px;
    }

    .tab {
        font-size: 16px;
    }
    
    /* COURSE GRID */

    .course-grid {
        width: 1200px;
        gap: 24px;
        margin-top: -32px;
    }

    .course-card {
        width: 384px;
        padding: 20px;
        gap: 16px;
    }

    .course-info {
        flex-direction: column;
        gap: 10px;
    }

    .thumbnail {
        width: 344px;
        height: 193px;
    }

    .course-title {
        font-size: 18px;
    }

    .course-description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        width: 344px;
        overflow: hidden;
        text-overflow: ellipsis;
    } 

    .course-author {
        width: 344px;
        height: 42px;
        gap: 10px;
    }

    .author-avatar {
        width: 40px;
    }

    .author-details p {
        font-size: 14px;
    }

    .author-workplace {
        display: inline;
        font-weight: 700;
    }

    .course-footer {
        width: 344px;
    }

    .score {
        font-size: 12px;
    }
    
    .price {
        font-size: 24px;
    }

    /* NEWSLETTER */
    
    .newsletter {
        width: 1200px;
        padding: 92px;
    }

    .newsletter-txt {
        width: 525px;
    }

    .newsletter-txt p {
        font-size: 18px;
    }

    .newsletter-txt h2 {
        font-size: 32px;
    }
    
    .newsletter-txt:nth-child(3) {
        font-weight: 400px;
    }

    .newsletter-form {
        flex-direction: row;
        justify-content: space-between;
        width: 525px;
        height: 58px;
        padding: 8px 8px 8px 32px;
        gap: 20px;
        border: none;
        border-radius: 10px;
        background-color: #FFFFFF;
    }

    .newsletter-input {
        all:unset;
        font-size: 16px;
        text-align: left;
    }

    .newsletter-submit {
        width: 133px;
        height: 42px;
        padding: 10px 26px 10px 26px;
        font-weight: 700;
        color: #FFFFFF;
        text-align: center;
        gap: 8px;
    }

    /*FOOTER ADDRESS*/

    footer {
        padding: 60px 120px 60px 120px;
        gap: 20px;
    }

    .footer-address-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .footer-address img {
        flex: 0 0 auto;
    }

    .address-phone {
        gap: 12px
    }

    .address-phone p:first-child {
        font-size: 18px;
    }

    .address-phone address {
        font-size: 16px;
    }

    .address-phone p:last-child {
        font-size: 16px;
    }

    .footer-links {
        flex-direction: row;
        margin-top: unset;
        gap: 48px;
    }

    .footer-links-header {
        all:unset
    }

    .chevron {
        display: none;
    }
    
    .footer-links ul {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        gap: 13px;
        list-style-type: none;
    }

    .footer-links ul a{
       text-decoration: none;
    }

    /*FOOTER COPYRIGHT & SOCIAL*/

    .divider {
        margin-top: 32px;
    }

    .footer-copyright {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 20px;
        gap: unset;
    }

    .socials-img {
        width: 37px;
        height: 37px;
    }

}