@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #333333AD;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    box-shadow: 0px 0px 1px 0px rgba(62, 67, 74, 0.31), 4px 8px 12px 0px rgba(62, 67, 74, 0.15);
    background-color: #FFFFFF;
    z-index: 9999;
}


body {
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    padding-top: 64px;
}

@media (min-width: 1024px) {
    header {
        border-top: none;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 120px;
        padding-right: 120px;
        box-shadow: none;
    }
}

